.App{
  text-align: center;
  width: 100%;
  height: auto;

}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
  position: relative;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: salmon;
  float: left;
  font-size: 11px;
  text-align: left;
}


.search-container {
  margin-top: 12em;
  position: relative;
}

.search-container input {
  width: 200px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid #ddd;
}

.search-container button {
  padding: 10px 10px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
  border: 2px solid white;

}
